html, body {
    margin: 1em;
}

* {
    font-family: Verdana;
}

table.first {
    border-collapse: separate;
    border: 1px solid black;
}

table.first th, table.first td {
    border: 1px solid blue;
}

table.first tr:nth-child(odd) {
    background-color: lightblue;
}

table.second {
    border-collapse: collapse;
    border: 1px solid purple;
}

table.second caption {
    caption-side: bottom;
}

table.second th {
    background-color: salmon;
}

table.second th, table.second td {
    padding: 0.7em;
    vertical-align: middle;
}

table.second thead tr:first-child {
    border-bottom: 1px solid purple;
}

table.third {
    border-collapse: collapse;
    border: 1px solid orangered;
}

table.third th, table.third td {
    vertical-align: top;
    padding: 0.7em;
    border-left: 1px solid orangered;
    border-right: 1px solid orangered;
}

table.third thead tr:first-child {
    border-top: 1px solid orangered;
    border-bottom: 1px solid orangered;
    background-color: lightyellow;
}

table.third thead tr:nth-child(2) {
    border-bottom: 1px solid orangered;
}

table.third tbody tr:nth-child(odd) {
    background-color: lightgray;
}

table.third tbody tr:last-child {
    border-bottom: 1px solid orangered;
}

@media (max-width: 425px) {
    th, td {
        display: block;
    }
    thead, td.number {
        display: none;
        padding: 0;
    }
}